---
import type { Page } from "astro";
import CoolSitesSearch from "../../components/CoolSitesSearch";
import Pagination from "../../components/Pagination.astro";
import Layout from "../../layouts/Layout.astro";
import StuffLayout from "../../layouts/StuffLayout.astro";
import type { CoolSiteType } from "../../schemas/coolSites";
import classNames from "../../utils/classNames";
import CoolSitesItem from "./_CoolSitesItem.astro";
export interface Props {
  page: Page;
  allCoolSites: CoolSiteType[];
  disableGrid?: true;
}

const { page, disableGrid = false, allCoolSites = [] } = Astro.props;
---

<Layout
  title="List of cool site I like"
  slug="cool-sites"
  disableScroll={disableGrid}
>
  <slot />
  <StuffLayout>
    <Fragment slot="left-sidebar">
      <CoolSitesSearch
        client:visible
        searchItems={allCoolSites}
        disabled={disableGrid}
      />
    </Fragment>
    <Fragment>
      <div class="flex flex-col w-full">
        <ul
          aria-hidden={disableGrid ? "true" : "false"}
          aria-label="List of cool sites I like"
          class={classNames(
            `grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4`,
            `gap-8 px-8 pt-8 pb-16 container mx-auto`,
            `min-h-[calc(100vh-174px)]`,
            disableGrid && `pointer-events-none`
          )}
        >
          {
            page.data.map((link) => {
              if (!link.thumbnail) return null;
              return (
                <CoolSitesItem
                  link={link}
                  class={classNames(
                    disableGrid && link.id === Astro.params.id && `opacity-0`
                  )}
                  disabled={disableGrid}
                />
              );
            })
          }
        </ul>
        <div
          class="py-6 border-t border-grayLight"
          aria-hidden={disableGrid ? "true" : "false"}
        >
          <Pagination
            length={page.lastPage}
            currentUrl={page.url.current}
            currentPage={page.currentPage}
            firstUrl={`/cool-sites`}
            prevUrl={page.url.prev}
            nextUrl={page.url.next}
            lastUrl={`/cool-sites/${page.lastPage}`}
            disabled={disableGrid}
          />
        </div>
      </div>
    </Fragment>
  </StuffLayout>
</Layout>
