---
import { Image } from 'astro:assets'
import type { CoolSiteType } from '../../schemas/coolSites'
import classNames from '../../utils/classNames'

export type Props = {
	link: CoolSiteType
	class?: string
	size?: number
}

const { link, class: className, size = 16 } = Astro.props
---

<span
  class={classNames(
    "inline-block relative mt-0.5 rounded overflow-hidden bg-zinc-100 bg-cover bg-center leading-4",
    className
  )}
  style={{ width: `${size}px`, height: `${size}px` }}
>
  {
    link.favicon && (
      <Image
        alt={`Favicon of "${link.title}"`}
        class="absolute inset-0 object-cover"
        src={link.favicon}
      />
    )
  }
  {
    !link.favicon && (
      <Image
        alt={`Favicon of "${link.title}"`}
        class="absolute inset-0 object-cover"
        src={`https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&size=32&url=${link.url}`}
        width={size}
        height={size}
      />
    )
  }
</span>
