---
import type { InspirationType } from "../../schemas/inspirations";
import classNames from "../../utils/classNames";
import InspirationFavicon from "./_InspirationFavicon.astro";
import InspirationThumbnail from "./_InspirationThumbnail.astro";

const { link, class: className } = Astro.props;

export type Props = {
  link: InspirationType;
  class?: string;
};
---

<li
  aria-label={`Cool site: "${link.title}" (${link.url})`}
  class={classNames("relative group @container", className)}
>
  <a
    href={link.url}
    target="_blank"
    rel="noopener nofollow"
    class={classNames(
      `flex flex-col gap-4 group`,
      `focus-visible:ring-2 focus-visible:ring-fg outline-none`,
      `focus-visible:overflow-hidden focus-visible:rounded-lg`,
      `focus-visible:ring-offset-8 focus-visible:ring-offset-bg`
    )}
  >
    <InspirationThumbnail link={link} />
    <div class="grid grid-cols-[1rem,1fr] gap-3">
      <InspirationFavicon link={link} />
      <h3 class="inline-block leading-tight pr-8">
        <span
          class={classNames(
            `px-3 -ml-2 py-2 rounded-full`,
            `hover-hover:group-hover:bg-alt`,
            `transition-colors motion-reduce:transition-none`
          )}
        >
          {link.title}
        </span>
      </h3>
    </div>
  </a>
  <a
    href={`/inspirations/${link.id}`}
    aria-label={`Permalink to the inspiration "${link.title} (${link.url})"`}
    class={classNames(
      // the top value represents the width of the container
      `top-[55cqw] right-0`,
      `absolute`,
      `hover-hover:opacity-0`,
      `hover-hover:group-hover:opacity-100 focus-visible:opacity-100 transition-opacity`,
      `focusable p-2 rounded-full`
    )}
  >
    <svg
      role="img"
      aria-label="Link icon"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-link"
      ><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
      ></path><path
        d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
      ></path></svg
    >
  </a>
</li>
