---
import { Image } from "astro:assets";
import type { InspirationType } from "../../schemas/inspirations";
import classNames from "../../utils/classNames";
const { link } = Astro.props;

export type Props = {
  link: InspirationType;
};
---

<li
  aria-label={`Cool site: "${link.title}" (${link.url})`}
  class="relative group @container"
>
  <a
    href={link.url}
    target="_blank"
    rel="noopener nofollow"
    class={classNames(
      `flex flex-col gap-4 group`,
      `focus-visible:ring-2 focus-visible:ring-fg outline-none`,
      `focus-visible:overflow-hidden focus-visible:rounded-lg`,
      `focus-visible:ring-offset-8 focus-visible:ring-offset-bg`
    )}
  >
    <span
      class="relative block aspect-[140/73] bg-zinc-100 rounded overflow-hidden"
    >
      <Image
        src={link.thumbnail}
        alt={`Cover image of "${link.title}"`}
        class={classNames(
          `w-full aspect-[140/73] rounded object-cover`,
          `transition-transform hover-hover:group-hover:scale-110`,
          `motion-reduce:transition-none`,
          `motion-reduce:hover-hover:group-hover:scale-100`
        )}
      />
      <span
        class="absolute inset-0 pointer-events-none bg-zinc-100 mix-blend-multiply"
      ></span>
    </span>
    <div class="grid grid-cols-[1rem,1fr] gap-3">
      <span
        class="inline-block w-4 h-4 relative mt-0.5 rounded overflow-hidden bg-zinc-100 bg-cover bg-center leading-4"
      >
        <Image
          src={`https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&size=32&url=${link.url}`}
          alt={`Favicon of "${link.title}"`}
          class="absolute inset-0 object-cover"
          width={16}
          height={16}
        />
      </span>
      <h3 class="inline-block leading-tight">
        <span
          class={classNames(
            `px-3 -ml-2 py-2 rounded-full`,
            `hover-hover:group-hover:bg-alt`,
            `transition-colors motion-reduce:transition-none`
          )}
        >
          {link.title}
        </span>
      </h3>
    </div>
  </a>
  <a
    href={`/inspirations/${link.id}`}
    aria-label={`Permalink to the inspiration "${link.title} (${link.url})"`}
    class={classNames(
      // the top value represents the width of the container
      `top-[55cqw] right-0`,
      `absolute`,
      `hover-hover:opacity-0`,
      `hover-hover:group-hover:opacity-100 focus-visible:opacity-100 transition-opacity`,
      `focusable p-2 rounded-full`
    )}
  >
    <svg
      role="img"
      aria-label="Link icon"
      xmlns="http://www.w3.org/2000/svg"
      width="20"
      height="20"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="lucide lucide-link"
      ><path d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71"
      ></path><path
        d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71"
      ></path></svg
    >
  </a>
</li>
