---
import type { Page } from "astro";
import FancyHeadline from "../../components/FancyHeadline.astro";
import InspirationsSearch from "../../components/InspirationsSearch";
import Pagination from "../../components/Pagination.astro";
import Layout from "../../layouts/Layout.astro";
import type { InspirationType } from "../../schemas/inspirations";
import classNames from "../../utils/classNames";
import InspirationItem from "./_InspirationItem.astro";
export interface Props {
  page: Page;
  allInspirations: InspirationType[];
  disableGrid?: true;
}

const { page, disableGrid = false, allInspirations = [] } = Astro.props;
---

<Layout
  title="List of cool site I like"
  slug="inspirations"
  disableScroll={disableGrid}
>
  <slot />
  <div
    class={classNames(
      `pt-32 px-8 pb-8 grid`,
      `lg:grid-cols-4 gap-8`,
      `container mx-auto`
    )}
  >
    <div
      class="relative h-full flex flex-col items-start lg:col-span-2"
      aria-label={`Title: Cool sites`}
    >
      <FancyHeadline title="Cool **Sites**" />
      <p class="mt-4 text-balance leading-tight">
        Bookmarks, design inspiration and innovative websites I like.
      </p>
    </div>

    <div class="lg:col-span-2">
      <InspirationsSearch
        client:visible
        searchItems={allInspirations}
        disabled={disableGrid}
      />
    </div>
  </div>
  <ul
    aria-hidden={disableGrid ? "true" : "false"}
    aria-label="List of cool sites I like"
    class={classNames(
      `grid sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4`,
      `gap-8 px-8 pb-16 container mx-auto`,
      `min-h-[calc(100vh-174px)]`,
      disableGrid && `pointer-events-none`
    )}
  >
    {
      page.data.map((link) => {
        if (!link.thumbnail) return null;
        return (
          <InspirationItem
            link={link}
            class={classNames(
              disableGrid && link.id === Astro.params.id && `opacity-0`
            )}
            disabled={disableGrid}
          />
        );
      })
    }
  </ul>
  <div
    class="py-6 border-t border-grayLight"
    aria-hidden={disableGrid ? "true" : "false"}
  >
    <Pagination
      length={page.lastPage}
      currentUrl={page.url.current}
      currentPage={page.currentPage}
      firstUrl={`/inspirations`}
      prevUrl={page.url.prev}
      nextUrl={page.url.next}
      lastUrl={`/inspirations/${page.lastPage}`}
      disabled={disableGrid}
    />
  </div>
</Layout>
