---
import { loadJson } from "../../scripts/lib/loadJson";
import classNames from "../utils/classNames";
import { INSPIRATIONS_JSON_PATH } from "../../scripts/paths";
import Layout from "../layouts/Layout.astro";
import FancyHeadline from "../components/FancyHeadline.astro";
import * as astroComponents from "astro-imagetools/components";
import type { MappedNotionInspirationLinkType } from "../../scripts/lib/parseOriginalNotionInspirations";

const { Img } = astroComponents;

const notionLinks = await loadJson<MappedNotionInspirationLinkType[]>(
  INSPIRATIONS_JSON_PATH
);
---
<Layout title="Inspirations">
  <ul
    class="grid mt-24 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-8 px-8 pb-16 container mx-auto"
  >
    <div class="relative h-full flex items-center sm:justify-center">
      <FancyHeadline
        title="Cool <br class='hidden sm:block' />**Sites**"
        className="sm:text-center"
      />
    </div>
    {
      notionLinks.map((link) => {
        return (
          <li>
            <a
              href={link.url}
              target="_blank"
              rel="noopener nofollow"
              class={classNames(
                `flex flex-col gap-4 group`,
                `focus:ring-2 focus:ring-fg focus:outline-none`,
                `focus:overflow-hidden focus:rounded-lg`,
                `focus:ring-offset-8 focus:ring-offset-bg`,
              )}>
              <span class="relative block aspect-[140/73] bg-zinc-100 rounded overflow-hidden">
                <Img
                  src={link.thumbnail}
                  alt={`Cover image of "${link.url}"`}
                  attributes={{
                    img: {
                      class:
                        "w-full aspect-[140/73] rounded object-cover transition-transform group-hover:scale-110",
                    },
                  }}
                />
                <span class="absolute inset-0 pointer-events-none bg-zinc-100 mix-blend-multiply" />
              </span>
              <div class="grid grid-cols-[1rem,1fr] gap-3">
                <span
                  class="inline-grid w-4 h-4 mt-0.5 rounded overflow-hidden bg-zinc-100 bg-cover bg-center leading-4"
                  style={`background-image: url("https://t2.gstatic.com/faviconV2?client=SOCIAL&type=FAVICON&fallback_opts=TYPE,SIZE,URL&size=32&url=${link.url}")`}
                />
                <h3 class="inline-block leading-tight">{link.title}</h3>
              </div>
            </a>
          </li>
        );
      })
    }
  </ul>
</Layout>
