---
import type { MappedCollaboratorPageType } from '../../scripts/lib/parseOriginalNotionProjects'
import classNames from '../utils/classNames'
import * as astroComponents from 'astro-imagetools/components'

const { Img } = astroComponents

export interface Props {
	collaborator: MappedCollaboratorPageType
}

const { collaborator } = Astro.props

const isInteractive = Boolean(collaborator.url)

const commonAvatarProps = {
	alt: `Portrait image of ${collaborator.name}`,
	class: classNames(
		`object-cover aspect-square`,
		`transition-opacity bg-white`,
	),
}

const isSvgAvatar = collaborator.avatar && collaborator.avatar.endsWith('.svg')
const isWebpAvatar =
	collaborator.avatar && collaborator.avatar.endsWith('.webp')
---

<span
	class={classNames(
		`relative border-r border-grayLight flex items-center text-center`,
		`bg-bg w-[45px] h-[45px] place-content-center`,
	)}
>
	{
		isSvgAvatar && (
			<img
				src={collaborator.avatar}
				alt={commonAvatarProps.alt}
				{...commonAvatarProps}
			/>
		)
	}
	{
		isWebpAvatar && (
			<Img
				src={collaborator.avatar}
				alt={commonAvatarProps.alt}
				attributes={{
					img: { class: commonAvatarProps.class },
				}}
			/>
		)
	}
	<span
		class={classNames(
			`absolute inset-0 z-10 bg-grayMed mix-blend-soft-light`,
			`group-hover:bg-fg transition-colors`,
		)}></span>
</span>
<span class={classNames(`px-4`, isInteractive && `underline decoration-alt`)}>
	{collaborator.name}
</span>
