---
import classNames from '../utils/classNames'
import type { NotionTextType } from '../../scripts/lib/getOriginalNotionProjects'

export interface Props {
	richText: NotionTextType[]
}

const { richText } = Astro.props
---

{
	richText
		.map((item, idx) => {
			const text = item.plain_text
			if (!text) return false
			const { bold, italic } = item.annotations

			if (item.href) {
				return (
					<a
						href={item.href}
						target="_blank"
						class={classNames(
							`underline decoration-alt underline-offset-4`,
							`decoration-clone leading-relaxed hyphen-auto`,
							`outline-none focus-visible:ring-2 focus-visible:ring-fg`,
							`focus-visible:ring-offset-8 focus-visible:ring-offset-alt`,
							`focus-visible:rounded-full focus-visible:no-underline pt-1`,
							`bg-alt/20 focus-visible:bg-alt`,
							`hover-hover:hover:bg-alt hover-hover:hover:decoration-fg`,
						)}
					>
						{bold && italic && (
							<strong>
								<em>{text}</em>
							</strong>
						)}
						{bold && !italic && <strong>{text}</strong>}
						{!bold && italic && <em>{text}</em>}
						{!bold && !italic && text}
					</a>
				)
			}
			if (bold && italic)
				return (
					<strong>
						<em>{text}</em>
					</strong>
				)
			if (bold && !italic) return <strong>{text}</strong>
			if (!bold && italic) return <em>{text}</em>
			return <>{text}</>
		})
		.filter(Boolean)
}
