---
import type { BlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";

export interface Props {
  blocks: BlockObjectResponse[];
}

const { blocks } = Astro.props;
const highlightClasses = `bg-alt rounded-full pl-3 pr-2 mr-1 pt-2 pb-1 decoration-clone leading-relaxed`;
---

{
  blocks.map((block) => {
    if (block.type === "paragraph") {
      return (
        <p class="mb-5">
          {block.paragraph.rich_text
            .map((item) => {
              const text = item.plain_text;
              if (!text) return false;
              if (item.href) {
                return (
                  <a href={item.href} target="_blank" class={highlightClasses}>
                    {text}
                  </a>
                );
              }
              if (item.annotations.bold) return <strong>{text}</strong>;
              if (item.annotations.italic) return <em>{text}</em>;
              return <>{text}</>;
            })
            .filter(Boolean)}
        </p>
      );
    }
    if (block.type === "image") {
      const image = block.image as {
        caption: {
          text: {
            content: string;
          };
        }[];
      };
      return (
        <div class="my-8">
          <Img
            src={`/images/content/${block.id}.webp`}
            alt={image.caption.map((c) => c.text.content).join(" ")}
            width={725}
            layout="fullWidth"
            attributes={{
              img: {
                class: "border border-grayMed",
              },
            }}
          />
          {image.caption.length > 0 && (
            <small class="text-grayDark text-sm">
              {image.caption.map((c) => c.text.content).join(" ")}
            </small>
          )}
        </div>
      );
    }
  })
}
