---
import type { BlockObjectResponse } from "@notionhq/client/build/src/api-endpoints";
import * as astroComponents from "astro-imagetools/components";
import classNames from "../utils/classNames";

const { Img } = astroComponents;

export interface Props {
  richText: NotionTextType;
}

const { richText } = Astro.props;
const highlightClasses = classNames(
  `bg-alt rounded-full pl-3 pr-2 mr-1 pt-2 pb-1`,
  `decoration-clone leading-relaxed hyphen-auto`,
  `focus:outline-none`,
)
---

{richText
  .map((item) => {
    const text = item.plain_text;
    if (!text) return false;
    const { bold, italic } = item.annotations;

    if (item.href) {
      return (
        <a href={item.href} target="_blank" class={highlightClasses}>
          {bold && italic && <strong><em>{text}</em></strong>}
          {bold && !italic && <strong>{text}</strong>}
          {!bold && italic && <em>{text}</em>}
          {!bold && !italic && text}
        </a>
      );
    }
    if (bold && italic) return <strong><em>{text}</em></strong>;
    if (bold && !italic) return <strong>{text}</strong>;
    if (!bold && italic) return <em>{text}</em>;
    return <>{text}</>;
  })
  .filter(Boolean)}
