---
import { Image } from 'astro:assets'
import type { MappedTechnologyPageType } from '../../scripts/lib/parseOriginalNotionProjects'
import type { AstroGlobImageType } from '../utils/astroTypes'

export interface Props {
	technology: MappedTechnologyPageType
}

const { technology } = Astro.props

const files = await Astro.glob<AstroGlobImageType<'webp' | 'svg'>>(
	'/src/assets/images/technologies/*.svg',
)
const techLogo = files.find((file) =>
	file.default.src.includes(`${technology.id}.`),
)?.default

console.log(techLogo)
if (!techLogo) console.log(files)
---

<a
	href={technology.url}
	target="_blank"
	rel="noopener nofollower"
	title={`${technology.name}: ${technology.description}`}
	class="flex gap-1"
>
	<Image
		class="w-6 h-6"
		src={techLogo}
		alt={technology.name}
		id={technology.id}
	/>

	<span>{technology.name}</span>
</a>
