---
import classNames from "../utils/classNames";
import type { MappedNotionProject } from "../utils/getNotionProjects";
import * as astroComponents from "astro-imagetools/components";

const { Img } = astroComponents;

export interface Props extends MappedNotionProject<false> {
  rotationClass: string;
}
const { slug, title, nameShort, rotationClass, type, year } = Astro.props;
---

<a
  href={`/projects/${slug}`}
  class={classNames(
    `group relative cursor-pointer`,
    `grid grid-cols-[1rem,1fr,3rem] grid-rows-[auto,1fr,16px]`,
    `border-y border-grayMed -mt-[1px]`,
    `hover:bg-fg hover:text-bg`
  )}
  role="heading"
  aria-label={title}
>
  <div
    class={classNames(
      `aspect-[16/11] relative overflow-hidden`,
      `col-span-2 border-b border-grayLight`,
      `group-hover:border-fgDark`,
      `pointer-events-none`
    )}
  >
    <Img
      src={`/images/bg-images/${slug}.webp`}
      alt={`Background image for project ${title}`}
      attributes={{
        img: {
          "aria-hidden": "true",
          class: "object-cover absolute top-0 left-0 w-full aspect-[16/11]",
        },
      }}
    />
    <div
      class={classNames(
        `absolute inset-0 sm:bg-grayDark mix-blend-screen`,
        `bg-fgDark group-hover:bg-fgDark`
      )}
    >
    </div>
    <div
      class={classNames(
        `absolute inset-0 sm:bg-grayUltraLight mix-blend-multiply opacity-50`,
        `bg-fgDark group-hover:bg-fgDark`
      )}
    >
    </div>
    <div
      class={classNames(
        `absolute inset-0 sm:bg-grayUltraLight mix-blend-color`,
        `bg-fgDark group-hover:bg-fgDark`
      )}
    >
    </div>
    <div
      class={classNames(
        rotationClass,
        `absolute inset-4 border-2 border-alt rounded`,
        `border-t-[12px] overflow-hidden sm:opacity-0 transition`,
        `group-hover:opacity-100 sm:scale-95 sm:group-hover:scale-100`
      )}
    >
      <Img
        src={`/images/thumbnails/${slug}.webp`}
        alt={title}
        attributes={{
          img: {
            class: "w-full h-auto",
          },
        }}
      />
    </div>
  </div>
  <div
    class={classNames(
      `relative border-x border-b border-grayLight`,
      `border-r-grayMed row-span-2`,
      `group-hover:border-fgDark`,
      `pointer-events-none`
    )}
  >
    <div
      class={classNames(
        "absolute bottom-4 left-1 whitespace-nowrap suppercase",
        "z-10 tracking-wide leading-4 text-lg"
      )}
    >
      <h3
        aria-label={`project type: ${type}`}
        class={classNames(
          "origin-bottom-left -rotate-90 translate-x-7",
          "pt-1 -mt-1"
        )}
      >
        {type.toLowerCase()}
      </h3>
    </div>
    <div
      class={classNames(
        `absolute top-4 left-1 whitespace-nowrap suppercase`,
        `z-10 tracking-wide leading-4 text-lg text-grayDark opacity-50`,
        `group-hover:text-white transition group-hover:opacity-70`
      )}
    >
      <h3
        aria-label={`project type: ${type}`}
        class={classNames(
          "origin-bottom-left -rotate-90 translate-x-7 translate-y-full",
          "pt-1 -mt-1"
        )}
      >
        {year}
      </h3>
    </div>
  </div>
  <div></div>
  <h1
    class={classNames(
      "border-l border-b border-grayLight pt-5 px-4 pb-4 uppercase",
      "group-hover:pt-[18px]",
      "text-3xl tracking-wider leading-7 group-hover:px-1",
      `group-hover:border-fgDark`,
      `pointer-events-none`
    )}
  >
    <span
      class={classNames(
        `group-hover:font-special group-hover:px-3`,
        `group-hover:text-fg group-hover:bg-alt`,
        `decoration-clone rounded-full group-hover:leading-6`,
        `group-hover:tracking-tight antialiased group-hover:pb-0.5`
      )}
      >{nameShort || title}
    </span>
  </h1>
  <div
    class={classNames(
      `col-span-3 relative bg-grayUltraLight`,
      `group-hover:bg-grayDark/10`,
      `h-4 border-r border-grayMed`,
      `group-hover:border-fgDark`,
      `pointer-events-none`
    )}
  >
    <svg
      width="16px"
      height="20px"
      viewBox="0 0 16 20"
      class="absolute bottom-0 left-0 text-bg group-hover:text-fg"
    >
      <polygon points="0,0 16,0 16,4 0,20" fill="currentColor"></polygon>
    </svg>
    <svg
      width="17px"
      height="17px"
      viewBox="0 0 17 17"
      class="absolute bottom-0 left-0 text-grayLight group-hover:text-fgDark"
    >
      <polyline points="17,0 0,17" stroke="currentColor" fill="none"></polyline>
    </svg>
  </div>
</a>
