---
import classNames from '../utils/classNames'
import type { MappedNotionProject } from '../../scripts/lib/parseOriginalNotionProjects'
import * as astroComponents from 'astro-imagetools/components'

const { Img } = astroComponents

export interface Props extends MappedNotionProject {
	rotationClass: string
	className?: string
}
const {
	slug,
	title,
	thumbnail,
	nameShort,
	rotationClass,
	highlighted,
	className = '',
	type,
	year,
} = Astro.props
---

<a
	href={`/projects/${slug}`}
	class={classNames(
		className,
		`group relative cursor-pointer @container/thumb`,
		`grid grid-cols-[1rem,1fr,3rem] grid-rows-[auto,1fr,16px]`,
		`border-y border-grayMed -mt-[1px]`,
		`col-span-2 focus-visible:outline-none`,
		highlighted && `sm:col-span-4 md:col-span-2 xl:col-span-4 xl:row-span-2`,
	)}
	aria-label={nameShort || title}
>
	<div
		class={classNames(
			`aspect-[16/11] relative overflow-hidden`,
			`col-span-2 border-b border-grayLight`,
			`pointer-events-none bg-grayUltraLight`,
		)}
	>
		<div
			class={classNames(
				rotationClass,
				`motion-reduce:rotate-0`,
				`motion-reduce:group-focus-visible:rotate-0`,
				`motion-reduce:hover-hover:group-hover:rotate-0`,
				`motion-reduce:group-focus-visible:scale-95`,
				`motion-reduce:hover-hover:group-hover:scale-95`,
				`absolute inset-4 border-alt rounded shadow-md`,
				`overflow-hidden transition motion-reduce:transition-none`,
				`group-focus-visible:opacity-100 @sm/thumb:group-focus-visible:scale-100`,
				`ease-out-extreme duration-700`,

				`scale-95`,
				`translate-x-0`,
				`translate-y-0`,
				`ring-1 ring-grayMed`,
				`opacity-100`,

				`@sm/thumb:hover-hover:scale-75`,
				`@sm/thumb:hover-hover:-translate-x-4`,
				`@sm/thumb:hover-hover:-translate-y-8`,
				`@sm/thumb:hover-hover:opacity-0`,

				`@sm/thumb:hover-hover:group-hover:scale-95`,
				`@sm/thumb:hover-hover:group-hover:translate-x-0`,
				`@sm/thumb:hover-hover:group-hover:translate-y-0`,
				`@sm/thumb:hover-hover:group-hover:opacity-100`,

				`@xl/thumb:hover-hover:scale-95`,
				`@xl/thumb:hover-hover:group-hover:scale-75`,
				`@xl/thumb:hover-hover:translate-x-0`,
				`@xl/thumb:hover-hover:translate-y-0`,
				`@xl/thumb:hover-hover:opacity-100`,

				`@sm/thumb:motion-reduce:scale-95`,
				`@sm/thumb:motion-reduce:translate-x-0`,
				`@sm/thumb:motion-reduce:translate-y-0`,
				`@sm/thumb:motion-reduce:opacity-100`,

				`@xl/thumb:scale-95`,
				`@xl/thumb:group-hover:scale-75`,
				`@xl/thumb:translate-x-0`,
				`@xl/thumb:translate-y-0`,
				`@xl/thumb:opacity-100`,
			)}
		>
			<Img
				src={thumbnail}
				alt={title}
				attributes={{
					img: {
						class: 'w-full h-auto',
					},
				}}
			/>
		</div>
		<img
			alt={`Illustration for the project "${nameShort}"`}
			src={`/images/illustrations/${slug}.svg`}
			class={classNames(
				`ease-out-extreme duration-500`,
				`translate-y-px origin-bottom-left`,
				`w-[40vmin] @sm/thumb:w-[300px] transition-all`,
				`absolute bottom-0 left-[7.5vh]`,
				`motion-reduce:transition-none`,

				`scale-75 translate-x-0`,

				`@sm/thumb:hover-hover:scale-100`,
				`@sm/thumb:group-hover:scale-50`,
				`@sm/thumb:group-hover:translate-x-0`,
				`motion-reduce:scale-100`,
				`motion-reduce:scale-50`,
				`motion-reduce:translate-x-0`,

				`contrast-more:brightness-75`,
				`contrast-more:contrast-200`,

				`dark:contrast-more:brightness-100`,
				`dark:contrast-more:contrast-100`,
			)}
		/>
	</div>
	<div
		class={classNames(
			`relative border-x border-b border-grayLight`,
			`border-r-grayMed row-span-2`,
			`pointer-events-none`,
		)}
	>
		<div
			class={classNames(
				'absolute bottom-4 left-1 whitespace-nowrap suppercase',
				'z-10 tracking-wide leading-4 text-lg',
			)}
		>
			<p
				aria-label={`project type: ${type}`}
				class={classNames(
					'origin-bottom-left -rotate-90 translate-x-7',
					'pt-1 -mt-1',
				)}
			>
				{type.toLowerCase()}
			</p>
		</div>
		<div
			class={classNames(
				`absolute top-5 left-1 whitespace-nowrap suppercase transition`,
				`z-10 tracking-wide leading-4 text-lg text-grayDark`,
				`group-focus-visible:text-white`,
				`motion-reduce:transition-none`,
			)}
		>
			<p
				aria-label={`project publication year: ${year}`}
				class={classNames(
					'origin-bottom-left -rotate-90 translate-x-7 translate-y-full',
					'pt-1 -mt-1',
				)}
			>
				{year}
			</p>
		</div>
	</div>
	<div></div>
	<h2
		class={classNames(
			'border-l border-b border-grayLight uppercase',
			`pt-5 px-4 pb-3`,
			`@xl/thumb:pb-2.5`,
			`hover-hover:group-hover:pt-[18px] hover-hover:group-hover:px-1`,
			'group-focus-visible:pt-[18px] group-focus-visible:px-1',
			`hover-hover:group-hover:pt-4`,
			'group-focus-visible:pt-4',
			`hover-hover:group-hover:pb-2`,
			'group-focus-visible:pb-2',
			`pointer-events-none flex items-center`,
		)}
	>
		<span
			class={classNames(
				`tracking-wider decoration-clone rounded-full antialiased`,

				`hover-hover:group-hover:font-special`,
				`hover-hover:group-hover:text-fg hover-hover:group-hover:bg-alt`,
				`hover-hover:group-hover:tracking-tight`,

				`group-focus-visible:font-special`,
				`group-focus-visible:text-fg group-focus-visible:bg-alt`,
				`group-focus-visible:tracking-tight`,

				`hover-hover:group-hover:px-3 hover-hover:group-hover:-mt-3`,
				`hover-hover:group-hover:pb-3 hover-hover:group-hover:pt-2`,

				`group-focus-visible:px-3 group-focus-visible:-mt-3`,
				`group-focus-visible:pb-2 group-focus-visible:pt-2`,

				`@xl/thumb:hover-hover:group-hover:-mt-3 @xl/thumb:hover-hover:group-hover:py-4`,
				`@xl/thumb:group-focus-visible:-mt-3 @xl/thumb:group-focus-visible:py-4`,

				`@xl/thumb:hover-hover:group-hover:pt-3`,
				`@xl/thumb:group-focus-visible:pt-3`,

				'leading-6 @xl/thumb:leading-10',
				`text-3xl @xl/thumb:text-5xl`,
				`hyphens-none`,
			)}
			set:html={nameShort || title}
		/>
	</h2>
	<div
		class={classNames(
			`col-span-3 relative bg-grayUltraLight`,
			`h-4 border-r border-grayMed`,
			`pointer-events-none`,
		)}
	>
		<svg
			width="16px"
			height="20px"
			aria-hidden="true"
			viewBox="0 0 16 20"
			class="absolute bottom-0 left-0 text-bg"
		>
			<polygon points="0,0 16,0 16,4 0,20" fill="currentColor"></polygon>
		</svg>
		<svg
			width="17px"
			height="17px"
			aria-hidden="true"
			viewBox="0 0 17 17"
			class="absolute bottom-0 left-0 text-grayLight"
		>
			<polyline points="17,0 0,17" stroke="currentColor" fill="none"></polyline>
		</svg>
	</div>
	<div
		class={classNames(
			`absolute inset-0 rounded pointer-events-none`,
			`group-focus-visible:ring-2 group-focus-visible:ring-fg`,
			`group-focus-visible:ring-inset`,
		)}
		aria-hidden="true"
	>
	</div>
</a>
