---
import classNames from '../utils/classNames'
import Info from './icons/Info.astro'
import Edit from './icons/Edit.astro'
import User from './icons/User.astro'
import Award from './icons/Award.astro'

export type Props = {
	level: '1' | '2' | '3'
}

const { level } = Astro.props
const slotText = await Astro.slots.render('default')
---

{
	(() => {
		function getHeadingPrefix(text: string): astroHTML.JSX.Element {
			const cls = 'opacity-60'
			if (text === 'insight') return <Info class={cls} />
			if (text === 'process') return <Edit class={cls} />
			if (text === 'personal role') return <User class={cls} />
			if (text === 'recognition') return <Award class={cls} />
			return null
		}
		const classes = classNames(
			`my-6 -mt-6 pt-8 pb-2 first:-mt-8 border-b border-grayLight text-grayDark text-base`,
			`uppercase tracking-wider sticky top-0 flex gap-2 items-center`,
			`bg-bg`,
		)
		const content = (
			<span class="inline-block pt-1">
				<slot />
			</span>
		)
		const prefix = getHeadingPrefix(slotText)
		if (level === '1')
			return (
				<h2 class={classes}>
					{prefix}
					{content}
				</h2>
			)
		if (level === '2')
			return (
				<h3 class={classes}>
					{prefix}
					{content}
				</h3>
			)
		if (level === '3')
			return (
				<h4 class={classes}>
					{prefix}
					{content}
				</h4>
			)
	})()
}
