---
import '@splidejs/splide/css/core'
import Layout from '../../layouts/Layout.astro'
import CollaboratorsGroup from '../../components/CollaboratorsGroup.astro'
import classNames from '../../utils/classNames'
import { loadJson } from '../../../scripts/lib/loadJson'
import { PROJECTS_JSON_PATH } from '../../../scripts/paths'
import type { MappedNotionProject } from '../../../scripts/lib/parseOriginalNotionProjects'
import Thumbnail from '../../components/Thumbnail.astro'
import NotionTextContents from '../../components/NotionTextContents.astro'
import ProjectSlider from '../../components/ProjectSlider.astro'
import ProjectSliderNav from '../../components/ProjectSliderNav.astro'
import SeeOneMoreStroke from '../../components/SeeOneMoreStroke.astro'
import SeeOneMoreFill from '../../components/SeeOneMoreFill.astro'
import TechnologiesTable from '../../components/TechnologiesTable.astro'

export async function getStaticPaths() {
	const notionProjects = await loadJson<MappedNotionProject[]>(
		PROJECTS_JSON_PATH,
	)
	return notionProjects.map((notionProject, idx) => {
		const nextIdx = idx + 1 > notionProjects.length - 1 ? 0 : idx + 1
		const prevIdx = idx - 1 < 0 ? notionProjects.length - 1 : idx - 1
		return {
			params: { slug: notionProject.slug },
			props: {
				project: notionProject,
				prevProject: notionProjects[prevIdx],
				nextProject: notionProjects[nextIdx],
			},
		}
	})
}

export interface Props {
	project: MappedNotionProject
	nextProject: MappedNotionProject
	prevProject: MappedNotionProject
}

const { project, nextProject, prevProject } = Astro.props
---

<Layout title={project.nameShort || project.title} withHeaderBg={false}>
	<main class={`flex flex-col`}>
		<ProjectSlider project={project} />
		<section
			aria-label="Project information"
			class="bg-bg relative -mt-px border-t border-t-grayMed"
		>
			<ProjectSliderNav />
			<div
				class={classNames([
					`px-6 lg:px-8 leading-normal`,
					`sm:text-xl lg:text-2xl mt-4`,
					`xl:grid xl:grid-cols-[5fr,2fr]`,
					`2xl:grid-cols-[3fr,1fr] xl:gap-8`,
				])}
			>
				<div
					class={classNames([`lg:gap-8 relative`, `mb-16 max-w-3xl`])}
					aria-label="Project description"
				>
					<NotionTextContents blocks={project.blocks} />
				</div>
				<aside
					class="@container/collabs xl:pt-10 relative"
					aria-label="Project collaborators"
				>
					<div
						class={classNames(
							`items-stretch max-w-3xl sticky top-20`,
							`grid grid-cols-1 @lg/collabs:grid-cols-2 @2xl/collabs:grid-cols-3`,
							`text-base @lg/collabs:text-xl`,
						)}
					>
						<CollaboratorsGroup
							collaborators={project.clients}
							title={`Made for`}
						/>
						<CollaboratorsGroup
							collaborators={project.colleagues}
							title={`Made with`}
						/>
						<CollaboratorsGroup
							collaborators={project.supervisors}
							title={`Supervised by`}
						/>
						<CollaboratorsGroup
							collaborators={project.institutions}
							title={`Made at`}
						/>
						<CollaboratorsGroup
							collaborators={project.collaborators}
							title={`Collaborators`}
						/>
					</div>
				</aside>
			</div>
			<div class={classNames([`px-6 lg:px-8 mt-4`])}>
				<TechnologiesTable project={project} />
			</div>
			<section
				aria-label="More projects"
				class={classNames(
					`flex flex-col sm:px-6 lg:px-8 mb-8 mt-32`,
					`md:grid md:grid-cols-[1fr,0,0,0,1fr] xl:grid-cols-[0,450px,1fr,450px,0]`,
				)}
			>
				<Thumbnail
					{...prevProject}
					highlighted={false}
					rotationClass="rotate-1"
				/>
				<div
					aria-hidden="true"
					class={classNames(
						`flex items-center justify-center`,
						`mb-8 relative`,
					)}
				>
					<div class="relative">
						<SeeOneMoreFill className="text-alt hidden xl:block" />
						<SeeOneMoreStroke
							className="hidden xl:block absolute top-0 left-0"
						/>
					</div>
				</div>
				<Thumbnail
					{...nextProject}
					highlighted={false}
					rotationClass="-rotate-1"
				/>
			</section>
		</section>
	</main>
</Layout>

<script>
	let lastScrollY = 0
	function updateScrollOffsetCSSVariable() {
		const scrollY =
			document.body.scrollTop || document.documentElement.scrollTop
		const scrollPercentageFixed = scrollY / document.body.scrollHeight
		if (scrollY !== lastScrollY) {
			document.documentElement.style.setProperty(
				'--scroll-offset',
				`${scrollY}px`,
			)
			document.documentElement.style.setProperty(
				'--scroll-percentage',
				`${scrollPercentageFixed}`,
			)
			lastScrollY = scrollY
		}
	}
	window.addEventListener('scroll', updateScrollOffsetCSSVariable, {
		passive: true,
	})
</script>
