---
import { ViewTransitions } from "astro:transitions";
import Footer from "../components/Footer.astro";
import GlobalStyles from "../components/GlobalStyles.astro";
import Header from "../components/Header.astro";
import type { AstroGlobImageType } from "../utils/astroTypes";
import classNames from "../utils/classNames";

export interface Props {
  title: string;
  slug: string;
  description?: string;
  withHeaderBg?: boolean;
  className?: string;
  disableScroll?: boolean;
}

const {
  title,
  slug,
  description = "Interface design and development portfolio of Lucas Vogel",
  withHeaderBg = true,
  className,
  disableScroll = false,
} = Astro.props;
const ogImages = await Astro.glob<AstroGlobImageType<"png">>(
  "/src/assets/images/og/*.png"
);
const ogImage = ogImages.find((file) =>
  file.default.src.includes(slug)
)?.default;
const ogImageUrl = ogImage?.src;
---

<!doctype html>
<html lang="en" transition:name="html">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#e30002" />
    <meta name="msapplication-TileColor" content="#ffef9b" />
    <meta name="theme-color" content="#ffffff" />

    <link rel="sitemap" href="/sitemap-index.xml" />
    <link
      rel="alternate"
      title="Main RSS Feed"
      type="application/rss+xml"
      href="/rss.xml"
    />
    <link
      rel="alternate"
      title="Pages-only RSS Feed"
      type="application/rss+xml"
      href="/rss-pages-only.xml"
    />
    <link
      rel="alternate"
      title="Projects-only RSS Feed"
      type="application/rss+xml"
      href="/rss-projects-only.xml"
    />
    <link
      rel="alternate"
      title="Inspirations-only RSS Feed"
      type="application/rss+xml"
      href="/rss-inspirations-only.xml"
    />

    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{[title, "Vogelino"].join(" – ")}</title>

    {ogImageUrl && <meta property="og:image" content={ogImageUrl} />}
    <meta property="og:title" content={[title, "Vogelino"].join(" – ")} />
    <meta property="og:description" content={description} />
    {
      ogImageUrl && (
        <meta property="og:image:width" content={String(ogImage.width)} />
      )
    }
    {
      ogImageUrl && (
        <meta property="og:image:height" content={String(ogImage.height)} />
      )
    }

    <link
      rel="preload"
      href="/fonts/fungis/fungis-regular.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/fungis/fungis-bold.woff"
      as="font"
      type="font/woff"
      crossorigin
    />
    <link
      rel="preload"
      href="/fonts/lobular/lobular-regular.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />

    <script is:inline>
      function loadUserPrefTheme(doc) {
        const userPref = localStorage.getItem("theme");
        const userPreference =
          userPref ||
          (matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light");
        doc.documentElement.dataset.appliedMode = userPreference;
        userPref && localStorage.setItem("theme", userPreference);
      }
      loadUserPrefTheme(document);
      document.addEventListener("astro:before-swap", ({ newDocument }) =>
        loadUserPrefTheme(newDocument)
      );
    </script>
    <ViewTransitions />
  </head>
  <body
    id="body"
    class={classNames(
      `bg-bg text-fg w-screen overflow-x-hidden mx-auto antialiased relative`,
      `max-w-[1440px] min-[1440px]:border-x min-[1440px]:border-grayMed`,
      disableScroll ? `overflow-clip` : `!overflow-y-auto`,
      className
    )}
  >
    <Header withBg={withHeaderBg} />
    <slot />
    <Footer />
    <GlobalStyles />
    <script>
      import { inject } from "@vercel/analytics";
      import { injectSpeedInsights } from "@vercel/speed-insights";
      injectSpeedInsights({ framework: "astro" });
      inject();
    </script>
  </body>
</html>
